/* Universal Format */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Layouts */
header {
    font-family: "Pacifico", cursive;
    text-align: center;
    background-color: #785b8b;
    font-size: 20px;
    color: white;
}

header p {
    padding: 16px;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 1rem;
}


main {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: "Pacifico", cursive;
}

figcaption {
    font-family: "Sansita", sans-serif;
    text-align: center;
}

footer {
    font-family: "Pacifico", cursive;
    text-align: center;
    background-color: #785b8b;
    color: white;
    padding: 30px;
}

/* Class Selectors */
.container {
    display: grid;
    /* grid-template: auto 1fr auto / 3fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    place-items: center;
}

.standard {
    font-weight: 700;
    border-bottom: 1px solid #777;
    margin-bottom: 1rem;
}


/* Mobile Menu Hamburger */

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: #38667E;
    color: #fff;
}

nav a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: overline;
    font-weight: 700; 
}

.open a {
    display: block;
}

.active::before {
    content: "📍";
}