@media screen and (min-width: 25.75em) {
    h1 {
        margin-left: 0;
        text-align: center;
    }
    
    #menu {
        display: none;
    }

    nav {
        flex-direction: row;
    }

    nav a {
        display: block;
        flex: 1 1 100%;
    }
}